target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
.mvn/wrapper/maven-wrapper.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/

### VS Code ###
.vscode/

### Frontend ###
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store
